*{
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;
}
main{
    height: 100vh;
    background-image: linear-gradient(to top left, rgb(235, 235, 235), gray);
}
.nav1{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left, gray, black, transparent);

    
}
.nav1 ul li{
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 18px;
   
}
.img1{
    padding: 40px;
    height: 200px;
    width: 200px;
    transform: rotate(30deg);
}
footer{
     background-image: linear-gradient(to right, black, rgb(159, 250, 159));
     color: aliceblue;
     text-align: center;
     font-size: 30px;
     text-transform: capitalize;

}
h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: springgreen;
    text-shadow: 5px 5px 5px black;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes aparecer {
        0% {
        opacity: 0;
    }
        100%{
        opacity: 1;
    }
}